{% extends 'layout2.html' %}
{% block content %}
{% if current_user.rol == 'administrador' %}
<div class="ms-5 mt-5">
    <div class="row justify-content-center">
       
        <div class="col-3">
            <a href="/usuario" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Male_avatar_g98d.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center">
                        <h1 class="card-title">Usuarios</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="/insProveedor">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Team_page_re_cffb.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center">
                        <h1 class="card-title">Proveedores</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-3">
            <a href="/recetas">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Cooking_p7m1.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center">
                        <br>
                        <h1 class="card-title">Recetas</h1>
                    </div>
                </div>
            </a>
        </div>
  
    </div>
    <div class="row justify-content-center mt-5">
      
        <div class="col-3">
            <a href="/produccion">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_factory_dy0a.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center">
                        <br>
                        <br>
                        <h1 class="card-title">Producciones</h1>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="col-3">
            <a href="/mp" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Wishlist_re_m7tv.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center">
                        <h1 class="card-title">Materia Prima</h1>
                    </div>
                </div>
            </a>
        </div>
       
        <div class="col-3">
            <a href="/dashboard" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Data_trends_re_2cdy.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-2"> 
                        <h1 class="card-title">Dashboard</h1>
                    </div>
                </div>
            </a>
        </div>
      
    </div>
    <div class="row justify-content-center mt-5 ">
        
        <div class="col-3 ms-1">
            <a href="/compras?proveedor_id=0" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_empty_cart_co35.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center"> 
                        <h1 class="card-title">Compras</h1>
                    </div>
                </div>
            </a>
        </div>
        
        
        <div class="col-3">
            <a href="/venta" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_undraw_undraw_undraw_shopping_bags_2ude_-1-_mnw3_-2-_q7y0_muk6.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-2"> 
                        <br>
                        <h1 class="card-title">Ventas</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="/merma_tablero" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Throw_away_re_x60k.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-3"> 
                        <br><br>
                        <h1 class="card-title">Merma</h1>
                    </div>
                </div>
            </a>
        </div>
        


        
        <div class="col-3">
            <a href="/mostrar_inventario" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/mp.jpg" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center">
                        <h1 class="card-title">Inventario Materia Prima</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endif %}

{% if current_user.rol == 'empleado' %}
<div class="ms-5 mt-5">
    <div class="row justify-content-center">
       
        <div class="col-3">
            <a href="/venta" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_undraw_undraw_undraw_shopping_bags_2ude_-1-_mnw3_-2-_q7y0_muk6.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-3"> 
                        <br><br>
                        <h1 class="card-title">Ventas</h1>
                    </div>
                </div>
            </a>
        </div>
     
        
        <div class="col-3">
            <a href="/insProveedor">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Team_page_re_cffb.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center">
                        <h1 class="card-title">Proveedores</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3">
            <a href="/dashboard" class="">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_Data_trends_re_2cdy.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-4"> 
                        <br><br>
                        <h1 class="card-title">Dashboard</h1>
                    </div>
                </div>
            </a>
        </div>
      
       
  
    </div>
    <div class="row justify-content-center">
       
        <div class="col-3">
            <a href="/produccion">
                <div class="card h-100" style="width: 20rem;">
                    <img src="/static/img/undraw_factory_dy0a.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-5">
                        <br><br>
                        <h1 class="card-title">Producciones</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3" >
            <a href="/produccion">
                <div class="card h-100" style="display: none;">
                    <img src="/static/img/undraw_factory_dy0a.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-5">
                        <br><br>
                        <h1 class="card-title">Producciones</h1>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-3" >
            <a href="/produccion">
                <div class="card h-100" style="display: none;">
                    <img src="/static/img/undraw_factory_dy0a.png" class="card-img-top" alt="..." width="100%">
                    <div class="card-body  text-center mt-5">
                        <br><br>
                        <h1 class="card-title">Producciones</h1>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>

</div>
{% endif %}


{% endblock %}
