{% extends 'layout1.html' %}
{% block content %}
{% from "_macros.html" import input_forms %}
<div class="container">
    <h1 class="mt-5 mb-4">Registrar Nuevo Proveedor</h1>
</div>
<div class="ms-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-body">
                <form id="proveedor" name="proveedor" action="/proveedor" method="POST" novalidate>
                    <div class="row justify-content-center">
                        <div class="mb-3 col-3">
                            <div class="mb-3">
                                {{ input_forms(form.nombre_em, class="form-control", placeholder="Nombre de la empresa") }}
                            </div>
                            {{ input_forms(form.nombre_e, class="form-control", placeholder="Nombre del empleado") }}
                            <div class="mb-3">
                                <button type="submit" class="btn btn-success"><i class='bx bx-plus-medical  align-middle bx-sm'></i> Agregar</button>
                                <button type="submit" class="btn btn-primary"><i class='bx bx-book-content  align-middle bx-sm'></i> Registros</button>
                            </div>  
                            <br>
                            
                        </div>
                        <div class="col-3">
                            <div class="mb-3">
                                {{ input_forms(form.Telefono, class="form-control", placeholder="Teléfono") }}
                            </div>
                            <br>
                            <div class="row justify-content-start">
                                <div class="col-6">
                                    <p>Productos</p>
                                    <div class="form-check">
                                        {{ form.producto1(class="form-check-input", id="producto1") }}
                                        <label class="form-check-label" for="producto1">Producto 1</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto2(class="form-check-input", id="producto2") }}
                                        <label class="form-check-label" for="producto2">Producto 2</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto3(class="form-check-input", id="producto3") }}
                                        <label class="form-check-label" for="producto3">Producto 3</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto4(class="form-check-input", id="producto4") }}
                                        <label class="form-check-label" for="producto4">Producto 4</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto5(class="form-check-input", id="producto5") }}
                                        <label class="form-check-label" for="producto5">Producto 5</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto6(class="form-check-input", id="producto6") }}
                                        <label class="form-check-label" for="producto6">Producto 6</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto7(class="form-check-input", id="producto7") }}
                                        <label class="form-check-label" for="producto7">Producto 7</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto8(class="form-check-input", id="producto8") }}
                                        <label class="form-check-label" for="producto8">Producto 8</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto9(class="form-check-input", id="producto9") }}
                                        <label class="form-check-label" for="producto9">Producto 9</label>
                                    </div>
                                    <div class="form-check">
                                        {{ form.producto10(class="form-check-input", id="producto10") }}
                                        <label class="form-check-label" for="producto10">Producto 10</label>
                                    </div>
                                    <!-- Agrega más checkboxes de productos según sea necesario -->
                                </div>
                            </div>
                            
                            
                        </div>
                        <div class="col-3">
                            {{ input_forms(form.direccion, class="form-control", placeholder="Dirección") }}
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
