{% extends 'layout.html' %}
{% block content %}
{% import "_macros.html" as macros %}

<body>
    <div class="container">
        <div class="row mt-2">
            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header bg-gradient" style="background-color: #000000;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                                <span class="h5 text-white"
                                    style="font-family: 'Roboto', sans-serif; font-size: 24px; font-weight: bold;">
                                    Menu de Galletas </span>
                            </div>
                        </div>
                    </div>
                    <div class="card-body ">
                        <div class="form">
                            <div class="row">
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="card">
                    <div class="card-header text-white card-hform" style="background-color: #000000;">
                        Ticket
                    </div>
                    <div class="card-body">
                        
                    </div>
                    <div class="card-footer">
                        <!-- Ticket section -->
                        <div class="card-header text-white card-hform" style="background-color: #000000">
                            Ticket
                        </div>
                        <div class="card-body" id="contenidoTicket">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}