{% extends 'layout.html' %}
{% block content %}
{% import "_macros.html" as macros %}
<body>
    <h1>Compras</h1>

    <!-- Formulario para seleccionar el proveedor -->
    <form action="/compras" method="post">
        <label for="proveedor">Selecciona un proveedor:</label>
        <select id="proveedor" name="proveedor" required>
            <option value="">Seleccione un proveedor</option>
            {% for proveedor in lista_proveedores %}
                <option value="{{ proveedor.idProveedor }}">{{ proveedor.nomEmpresa }}</option>
            {% endfor %}
        </select>
        <br>
        
        <!-- Lista de materias primas -->
        <div id="materias-primas">
            {% for mp in lista_materias_primas %}
                <div class="materia-prima">
                    <input type="hidden" name="mp_id" value="{{ mp.idMP }}">
                    <label>{{ mp.ingrediente }} ({{ mp.medicion }})</label>
                    <input type="number" name="mp_cantidad" min="0" step="0.01" placeholder="Cantidad" required>
                </div>
            {% endfor %}
        </div>
        
        <!-- Botón para enviar la compra -->
        <button type="submit" class="btn btn-primary">Guardar Compra</button>
    </form>
</body>

{% endblock %}
{% block script %}
<script>

</script>
{% endblock %}