<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/bootstrap-5/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static//boxicons-2.1.4/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.0.3/css/dataTables.bootstrap5.css">
  <!-- DataTables CSS -->
  <link href="https://cdn.datatables.net/1.11.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <title>lovely cookies</title>
</head>
<body>
    <div class=" justify-content-start">
        <div class="mt-1 ms-2 text-black">
            <a href="/venta" class="btn btn-light border border-1 ">
                <i class='bx bx-chevron-left bx-sm align-middle'></i>
                Volver
            </a>
        </div>
<div class="container">
    {% from "_macros.html" import input_forms %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ n }}" role="alert">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
    {% endwith %}
    
    <h1 class="mt-5 mb-4">Registro de Merma</h1>
</div>
<div class="ms-5 mt-5">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-body">
                <form id="merma" name="merma" action="/merma" method="POST" novalidate>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <div class="row justify-content-center">
                        <div class="mb-3 col-md-3">
                            <div class="mb-3">
                                <label for="galleta">Galleta</label>
                                <select name="galleta" class="form-select" placeholder="">
                                    {% for galleta in galleta %}
                                        <option value="{{ galleta.nombre}}">{{ galleta.nombre }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                           
                            <br>
                            <div class="mb-3">
                                <div>
                                    <button type="submit" class="btn btn-success"><i class='bx bx-plus-medical align-middle'></i> Agregar</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            {{ input_forms(form.cantidad_m, class="form-control", placeholder="") }}
                        </div>
                        <div class="col-md-3">
                            {{ input_forms(form.observaciones, class="form-control", placeholder="") }}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


</main>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
<script>
 $(document).ready(function () {
    $('#tabla_').DataTable({
        "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "No se encontraron resultados",
            "info": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
            "infoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "infoFiltered": "(filtrado de un total de _MAX_ registros)",
            "search": "Buscar:",
            "paginate": {
                "first": "Primero",
                "last": "Último",
                "next": "Siguiente",
                "previous": "Anterior"
            },
            "processing": "Procesando..."
        }
    });
});

  </script>

</html>