{% extends 'layoutVen.html' %}
{% block content %}
{% import "_macros.html" as macros %}

<div class="center-content">
    <h1 class="text-center">Ventas Diarias</h1>
    <div id="ventasDiariasContent" class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center align-middle">
            <thead class="bg-success text-white">
                <tr>
                    <th>Total de la venta</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas_totales %}
                <tr>
                    <td>{{ venta.total }}</td>
                    <td>{{ venta.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <h4 style="text-align: center;">Total de ventas del día: {{ suma_ventas }}</h4>
<br>
    <h3 class="text-center">Pagos realizados a proveedores</h3>
    <div id="ventasDiariasContent" class="table-responsive">
        <table class="table table-bordered table-striped table-hover text-center align-middle">
            <thead class="bg-success text-white">
                <tr>
                    <th>Pago a proveedor</th>
                    <th>Fecha</th>
                </tr>
            </thead>
            <tbody>
                {% for pago in pagos %}
                <tr>
                    <td>{{ pago.cantidad }}</td>
                    <td>{{ pago.fecha }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <form action="/restar_venta" method="post">
        <div style="text-align: right;">
            <label for="cantidad">Cantidad pagada a proveedor:</label>
            <input type="number" id="cantidad" name="cantidad" required>
            <input type="submit" value="Registrar">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        </div>
    </form>
    <br>
    
</div>

<br>
<div  class="center-content">>
    <table class="table table-bordered table-striped table-hover text-center align-middle">
        <thead class="bg-success text-white">
            <tr>
                <th>TOTAL EN CAJA CHICA</th>
            </tr>
        </thead>
        <tbody>
            {% for registro in registros_cajach %}
            <tr>
                <td>{{ registro.total }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}