{% extends 'layout.html' %}
{% block content %}
{% import "_macros.html" as macros %}

<body>
    <div class="row mt-2">
        <div id="divDetalle" class="col">
            <div class="card">
                <div>
                    <div class="card-header bg-gradient"
                        style="background-color: #D2B48C; padding-top: 0px; padding-bottom: 0px;">
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center"
                                style="display: flex; justify-content: space-around; width: 100%;">
                                <span class="h5 text-white"
                                    style="font-family: 'Roboto', sans-serif; font-size: 24px; font-weight: bold;">Tipo
                                    de galletas</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="background-color: #FAEADA;">
                    <div class="form">
                        <div class="row">
                            <div class="botones-en-linea">
                                <div class="boton-con-info">
                                    <a href="/venta?id=1" class="boton-circular">
                                        <img src="../static/img/Galletas/chocoMenta.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Chocolate y menta $12</label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=2" class="boton-circular">
                                        <img src="../static/img/Galletas/avenaNues.jfif" alt="Imagen">
                                    </a><br>
                                    <label> <br>Avena y nues $13</label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=3" class="boton-circular">
                                        <img src="../static/img/Galletas/limon.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Limon $14</label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=4" class="boton-circular">
                                        <img src="../static/img/Galletas/coco.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Coco $15 </label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=5" class="boton-circular">
                                        <img src="../static/img/Galletas/descargar.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Chocolate blanco y<br> arandanos $16</label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=6" class="boton-circular">
                                        <img src="../static/img/Galletas/almendra.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Almendra $17 </label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=7" class="boton-circular">
                                        <img src="../static/img/Galletas/mantequillaMani.jfif" alt="Imagen">
                                    </a><br>
                                    <label>mantequilla de <br> mani $18 </label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=8" class="boton-circular">
                                        <img src="../static/img/Galletas/chiaCoco.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Chia y coco $19 </label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=9" class="boton-circular">
                                        <img src="../static/img/Galletas/almendraNaranja.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Almendra y<br>naranja $20 </label>
                                </div>
                                <div class="boton-con-info">
                                    <a href="/venta?id=10" class="boton-circular">
                                        <img src="../static/img/Galletas/maiz.jfif" alt="Imagen">
                                    </a><br>
                                    <label>Maíz $21 </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div id="divCatalogo" class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-header text-white card-hform" style="background-color: #D2B48C">
                                        Tipo de venta
                                    </div>
                                    <div class="card-body">
                                        <div class="table-responsive">
                                            <table id="tblEmpleados" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th>Nombre de Galleta:</th>
                                                        <th class="text-end"><label for="txtNombreNombre"></label><label
                                                                id="txtNombreNombre">{{galleta.nombre}}</label></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Precio: </th>
                                                        <th class="text-end"><label for="txtPrecio"></label><label
                                                                id="txtPrecio">{{galleta.precio}}</label></th>
                                                    </tr>
                                                </thead>
                                            </table>
                                        </div>
                                        <div>
                                            <input type="radio" id="pieza" name="categoria"
                                                onclick="cargarContenido('pieza');">
                                            <label for="pieza">Pieza</label>

                                            <input type="radio" id="peso" name="categoria"
                                                onclick="cargarContenido('peso');">
                                            <label for="peso">Peso (g)</label>

                                            <input type="radio" id="caja" name="categoria"
                                                onclick="cargarContenido('caja');">
                                            <label for="caja">Caja</label>
                                        </div>
                                        <div id="contenedor_tabla" class="p-2"></div>

                                    </div>
                                </div>
                            </div>
                            <div id="divCatalogo" class="col-md-6 col-sm-12">
                                <div class="card">
                                    <div class="card-header text-white card-hform" style="background-color: #D2B48C">
                                        Ticket
                                    </div>

                                    <div class="card-body" id="contenidoTicket">
                                        <div class="table-responsive">
                                            <a class="navbar-brand" href="#">
                                                <label class="d-inline-block align-middle"
                                                    style="font-family: 'Roboto', sans-serif; font-size: 18px; color: #000000;">Don
                                                    Galleto</label>
                                            </a>
                                            <table id="tblVentasPieza" class="table table-hover">
                                                <thead>
                                                    <tr>
                                                        <th style="width: 50px;">N&uacute;m.</th>
                                                        <th>Nombre Galleta</th>
                                                        <th>Tipo de Venta</th>
                                                        <th>Cantidad</th>
                                                        <th>Fecha</th>
                                                        <th>Subtotal</th>
                                                        <th style="width: 50px;">Eliminar</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tbodyTicket">
                                                    <!-- Aquí irían los datos de los empleados -->
                                                </tbody>
                                            </table>
                                            <div class="d-flex justify-content-end mt-4">
                                                <button class="button" onclick="guardarVenta();"><i
                                                        class="fas fa-save"></i>&nbsp;Guardar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <div class="row mt-2">
        <div id="contenedor_empleados" class="custom-container"></div>
    </div>

    {% endblock %}

    {% block script %}
    <script>
        function cargarContenido(categoria) {
            let ruta;
        
            switch (categoria) {
                case 'pieza':
                    ruta = '/ventaPieza';
                    break;
                case 'peso':
                    ruta = '/ventaPeso';
                    break;
                case 'caja':
                    ruta = '/ventaCaja';
                    break;
                default:
                    console.error('Categoría no reconocida');
                    return;
            }
        
            fetch(ruta)
                    .then(respuesta => {
                        if (!respuesta.ok) {
                            throw new Error(`No se pudo cargar el archivo. Código de estado: ${respuesta.status}`);
                        }
                        return respuesta.text();
                    })
                    .then(datos => {
                        document.getElementById('contenedor_tabla').innerHTML = datos;
                    })
                    .catch(error => {
                        console.error('Error al cargar el archivo:', error);
                    });
        }

        function calcularTotalCaja() {
            // Obtener los elementos del DOM
            let precioElementText = document.getElementById('txtPrecio').textContent;
            let totalElement = document.getElementById('txtTotalCaja');
            let cantidadGalletasElement = document.getElementById('txtCantidadGalletasCaja');
        
            // Convertir el valor del precio a un número
            let precio = parseFloat(precioElementText) || 0;
        
            // Mostrar alerta si el tipo de galleta no está seleccionado
            if (precioElementText === '') {
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: 'Seleccione un tipo de Galleta.',
                });
                return;
            }
        
            // Obtener el tipo de caja seleccionado
            let tipoCaja = obtenerTipoCaja();
        
            // Calcular la cantidad de galletas según el tipo de caja
            let cantidadGalletas; // Declara una variable para almacenar la cantidad de galletas.
        
            if (tipoCaja === 'Medio Kilo') {
                cantidadGalletas = 25; // Cantidad de galletas en la caja de medio kilo
            } else if (tipoCaja === 'Kilo') {
                cantidadGalletas = 50; // Cantidad de galletas en la caja de un kilo
            } else {
                // Tipo de caja no seleccionado
                Swal.fire({
                    icon: 'warning',
                    title: 'Advertencia',
                    text: 'Seleccione un tipo de caja (medio kilo o kilo).',
                });
                return;
            }
        
            // Calcular el total en pesos
            let totalDinero = cantidadGalletas * precio;
        
            // Actualizar el contenido del label con la cantidad de galletas y el total en pesos
            cantidadGalletasElement.textContent = cantidadGalletas;
            totalElement.textContent = totalDinero.toFixed(2); // Redondear a dos decimales
        }
    </script>
    {% endblock %}